main {
  padding: 1rem;
}

@media (min-width: 600px) {
  main {
    padding: 2rem;
  }
}

@media (min-width: 900px) {
  main {
    padding: 3rem;
    max-width: 1200px;
    margin: 0 auto;
  }
}

html {
  font-size: clamp(14px, 1.5vw, 18px);
}